rules_version = '2';

service cloud.firestore {

match /databases/{database}/documents {

match /users/{uid} {

allow read:
if request.auth != null
&& request.auth.uid == uid;

/*
User cannot change their own
premium or storageLimit.
*/

allow update:
if request.auth != null
&& request.auth.uid == uid
&& request.resource.data.premium
== resource.data.premium
&& request.resource.data.storageLimit
== resource.data.storageLimit;

allow create:
if request.auth != null
&& request.auth.uid == uid;

allow delete: if false;


match /files/{fileId} {

allow read:
if request.auth != null
&& request.auth.uid == uid;

allow create:
if request.auth != null
&& request.auth.uid == uid;

allow delete:
if request.auth != null
&& request.auth.uid == uid;

allow update: if false;

}

}

}

}