rules_version = '2';

service firebase.storage {

  match /b/{bucket}/o {

    match /users/{uid}/vault/{fileName} {

      allow read:
        if request.auth != null
        && request.auth.uid == uid;


      allow create:
        if request.auth != null
        && request.auth.uid == uid
        && request.resource.size
           <= 500 * 1024 * 1024
        && (
          request.resource.contentType
            .matches('image/.*')
          ||
          request.resource.contentType
            .matches('video/.*')
        );


      allow delete:
        if request.auth != null
        && request.auth.uid == uid;


      allow update: if false;

    }

  }

}